.app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.main-container-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* min-height: 100vh; */
    max-width: 800px;
}
.app-header {
    display: flex;
    flex-direction: row;
    width: 99.1%;
    max-width: 800px;
    border: 1px solid;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}
.app-header-title-wrap {
    display: flex;
    align-items: flex-start;
    align-items: center;
    width: 42%;
    min-height: 25px;
}
.app-header-search-wrap {
    width: 51%;
    min-height: 25px;
}
.app-header-search-wrap input {
    min-height: 25px;
}
.content-column {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    border: 1px solid;
    max-height: 600px;
    height: auto;
    padding: 5px;
    overflow-y: scroll;
}
.sidebar-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    border: 1px solid;
    border-left: none;
}
.main-input-wrap {
    display: flex;
    width: 100%;
    padding: 5px 0;
}
.main-input-row {
    display: flex;
    flex-direction: row;
    width: 69.3%;
    position: relative;
    max-height: 30px;
    border: 1px solid;
}
.main-input-item-upload-icon, .main-input-item-mic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 30px;
    max-height: 30px;
    align-items: center;
    justify-content: center;
}
.upload-icon::before {
    position: absolute;
    content: '\1F4CE';
    font-size: 18px;
    min-width: 25px;
    min-height: 30px;
    top: 10%;
    right: 15%;
    pointer-events: none;
    cursor: pointer;
    z-index: 0;
}
.upload-icon::before:hover {
    cursor: pointer;
}
.mic-btn::before {
    position: absolute;
    font-size: 20px;
    content: '\1F399';
    top: 0.5%;
    right: 7%;
    width: 8px;
    cursor: pointer;
}
.main-input-item {
    display: flex;
    width: 80%;
    min-height: 30px;
    max-height: 30px;
}
.main-input {
    width: 100%;
    max-height: 28px;
    min-height: 28px;
    border: none;
    outline: none;
}
.main-input-item-mic {
    display: flex;
    width: 30%;
    min-height: 35px;
}
.hidden-upload-btn {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 0.5%;
    right: 15%;
    opacity: 0.0;
    z-index: 3;
}
.hidden-upload-btn:hover {
    cursor: pointer;
}
.content-item {
    cursor: pointer;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
}
.content-text {
    display: flex;
    flex-wrap: wrap;

    background-color: wheat;
    display: flex;
    text-align: right;
    width: 100%;
}
.content-text-value {
    display: inline-flex;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
    width: 100%;
    justify-content: flex-start;
}
.content-text-value img {
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
}
.content-text-value video,  .content-text-value audio {
    padding: 10px 0;
    width: 85%;
}
.content-item-date {
    padding: 0 10px;
    width: 100%;
    background-color: wheat;
}
.download-btn {
    display: flex;
    width: 15%;
    max-height: 50px;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
}
.download-btn::before {
    content: '\2193';
    font-size: 40px;
}
.document-icon::before {
    content: '\1F5CE';
    font-size: 50px;
    margin-right: 5px;
}

.weather-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: orange;
    min-height: 25px;
    align-items: center;
}
.weather-date, .weather-temp, .weather-wind {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}
.weather-date span {
    margin: 0 2px;
}
.time-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 25px;
    align-items: center;
    background-color: orange;
}
.upload-mic-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}
.upload-icon-wrap {
    cursor: pointer;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.mic-wrap {
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.mic-icon-wrap {
    position: absolute;
    top: -13px;
    display: flex;
}
.mic-ok-btn::before {
    content: '\2713';
    font-size: 22px;
    cursor: pointer;
}
.mic-cancel-btn::before {
    content: '\274C';
    font-size: 22px;
    cursor: pointer;
}

.mic-ok-btn {
    left: 0;
    position: absolute;

}
.mic-cancel-btn {
    right: 0;
    position: absolute;
}
.hide-mic-timer, .hide-mic-control, .hide-mic {
    display: none;
}
.pinned-icon::before {
    position: absolute;
    right: 25%;
    content: '\1F4CC';
    top: 0;
}
.pinned-hidden {
    display: none;
}
.pinned-show {
    display: flex;
    min-height: 50px;
    height: 50px;
}
.pinned-wrap {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
}
.pinned-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: cornflowerblue;
}
.pinned-item-max {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    background-color: cornflowerblue;
}
.pinned-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* max-height: 50px; */
}
.pinned-media video, .pinned-media img {
    max-height: 40px;
}
.pinned-media audio {
    max-height: 35px;
}
.pinned-media-full {
    justify-content: revert;
}
.pinned-media-full audio {
    min-width: 200px;
}
.pinned-media-full video {
    max-height: 200px;

}
.pinned-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 70%;
    overflow: hidden;
    max-height: 50px;
    cursor: pointer;
}
.pinned-content-full {
    overflow: visible;
    max-height: 200px;
}
.pinned-date {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pinned-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.pinned-link-item::before {
    content: '\2193';
    font-size: 24px;
    cursor: pointer;
}
.pinned-item .content-text {
    width: 100%;
    min-height: 50px;
}
.msg-name {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}
